body {
  background-color: #EAF6F6;
}
img: hover {
  background-color: gold;
}
h1 {
  color: #66BFBF;
}
h3{
  color: #66BFBF;
}
hr {
  border-style: none;
  border-top-style: dotted;
  width: 5%;
  border-color: grey;
  border-width: 5px;
}
